@charset "utf-8";

body * {
	font-family: 'Lato', sans-serif;
	color: #FFF;
  font-size: 12px;
}

ul.nav li a {
  font-family: 'Hind', sans-serif;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

#page {opacity:0;}

h1 {
	font-size: 82px;
	font-weight: 100;
	line-height: 82px;
}

h3 {
	font-size: 32px;
	font-weight: 200;
	line-height: 32px;
}

h4 {
	font-size: 24px;
	font-weight: 100;
	line-height: 32px;
}

p {
	font-weight: 300;
	font-size: 24pt;
	line-height: 30pt;
}

p a {
	font-size: 24px;
	color: #FFF;
}

p a:hover {
	color: #FFF;
	text-decoration:none;
}

p a.btn {
	text-decoration:none!important;
}

.label {
		font-size: 24px;
}
span.rnd {
	font-size: 14px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	border-radius: 50px;
	-moz-border-radius: 50px;
	width: 44px;
	height: 44px;
	text-indent: 8px;
	line-height: 44px;
	position: absolute;
	margin-top: 8px;
	margin-left: 2px;
	font-weight: normal;
	text-transform: lowercase;
	font-weight:800;
	font-style: italic;
	text-shadow: 1px 2px 0 rgba(0,0,0,0.075);
	-webkit-box-shadow: 1px 2px 0 0 rgba(0,0,0,0.075);
	-moz-box-shadow: 1px 2px 0 0 rgba(0,0,0,0.075);
}

.story {
	margin: 0 auto;
	margin-top:120px;
}

#about {
	background:url(../assets/firstBG.jpg) 50% -75px no-repeat fixed;
	color: white;
	min-height: 1200px;
	padding: 60px 0 0 0;
}

#quote {
  top: 100px;
  position: relative;
  float: right;
}

#quote p {
  text-align: right;
  font-size: 20px;
  padding-bottom: 10px;
}

#quote h2 {
  font-size: 38px;
  padding-bottom: 12px;
  text-align: right;
}

#source {
  text-align: right;
}


#interests {
	background: url(../assets/secondBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	min-height: 1200px;
	margin: 0 auto;
	overflow:hidden;
	padding: 0;
}

#interest span {
	font-size: 24px;
	padding: 4px;
}

#interest p a {
  text-decoration: none;
}

#contact {
	background: #333;
	margin: 0 auto;
	padding: 40px 0 200px 0;
	min-height: 1200px;
}

#contact h2 {font-weight:300;}

#contact ul {
	padding: 10px;
	width: 700px;
}

#contact ul li {
	font-size: 24px;
	line-height: 32px;
	font-weight: 100;
	text-decoration: none;
	padding-bottom: 6px;
	text-align: right;
	list-style: none;
}

#contact a {
	font-size: 24px;
	color: #fff;
}

#contact a:hover {
	color: #fff;
	text-decoration: underline;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

ul.nav li a {
  font-size: 45px;
  font-weight: 250;
}

.navbar .nav > li > a {
  padding: 45px 20px;
}

#about {
  background: url(../assets/firstBG.jpg) 75% 0 no-repeat scroll;
  min-height: 1440px;
}

#about h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  margin-top: 5%;
}

#about h3 {
  font-size: 60px;
  font-weight: 275;
  line-height: 60px;
}

#about h4 {
  font-size: 55px;
  font-weight: 250;
  line-height: 55px;
}

#quote {
  top: 150px;
}

#quote h2 {
  font-size: 45px;
}

#quote p {
  font-size: 25px;
}

.source {
  font-size: 20px;
}

#interests {
  min-height: 1600px;
}

#interests .label {
  font-size: 40px;
  line-height: 80px;
  padding: 10px 20px;
  margin: 10px;
  white-space: nowrap;
}

#interests .label-info {
 display: block;
 color: #000;
 background-color: #fff;
 padding: 0px;
 margin: 5px;
}

#contact {
  min-height: 1600px;
}

#contact h1 {
  margin-top: 10%;
  font-weight: 300;
}

#contact ul {
  width: 90%;
  margin-top: 25%;
}

#contact a {
  font-size: 60px;
  line-height: 105px;
  font-weight: 300;
}


}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

ul.nav li a {
  font-size: 35px;
  font-weight: 250;
}

.navbar .nav > li > a {
  padding: 35px 15px;
}

#about {
  background: url(../assets/firstBG.jpg) 75% 10% no-repeat scroll;
  min-height: 1440px;
}

#about h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  padding: 15px 0 0 0;
}

#about h3 {
  font-size: 40px;
  font-weight: 275;
  line-height: 40px;
}

#about h4 {
  font-size: 35px;
  font-weight: 250;
  line-height: 35px;
}

#quote {
  top: 25px;
}

#quote h2 {
  font-size: 35px;
}

#quote p {
  font-size: 25px;
}

.source {
  font-size: 20px;
}

#interests {
  min-height: 1600px;
  padding: 00;
}

#interests .label {
  font-size: 25px;
  line-height: 30px;
  padding: 5px 10px;
  margin: 10px 5px;
  white-space: nowrap;
}

#contact {
  min-height: 1600px;
  padding-top: 0px;
}

#contact h1 {
  margin-top: 0;
  font-size: 60px;
  font-weight: 300;
}

#contact ul {
  width: 90%;
  margin-top: 0;
}

#contact a {
  font-size: 35px;
  line-height: 45px;
  font-weight: 300;
}


}
